@mixin align__content--start {
  // align-content: start;
  align-content: flex-start;
}

@mixin align__content--end {
  // align-content: end;
  align-content: flex-end;
}

@mixin align__content--center {
  align-content: center;
}

@mixin align__items--start {
  // align-items: start;
  align-items: flex-start;
}

@mixin align__items--end {
  // align-items: end;
  align-items: flex-end;
}

@mixin align__items--center {
  align-items: center;
}

@mixin align__items--stretch {
  align-items: stretch;
}

@mixin align__self--start {
  // align-self: start;
  align-self: flex-start;
}

@mixin align__self--end {
  // align-self: end;
  align-self: flex-end;
}

@mixin align__self--center {
  align-self: center;
}
