@import '../variables/variables.scss';

@mixin background__color--dark {
  background-color: $color-dark;
}

@mixin background__color--light {
  background-color: $color-light;
}

@mixin background__position__x--left {
  background-position: left;
}

@mixin background__position__x--center {
    background-position: center;
}

@mixin background__position__x--right {
    background-position: right;
}

@mixin background__position__y--top{
    background-position: top;
}

@mixin background__position__y--center {
    background-position: center;
}

@mixin background__position__y--bottom {
    background-position: bottom;
}

@mixin background__size--cover {
  background-size: cover;
}

@mixin background__size--contain {
  background-size: contain;
}

@mixin background__size--100 {
  background-size: 100%;
}
