@mixin border__radius--xxs{
  border-radius: $border-radius-xxs;
}

@mixin border__radius--xs{
  border-radius: $border-radius-xs;
}

@mixin border__radius--sm {
  border-radius: $border-radius-sm;
}

@mixin border__radius--ms {
  border-radius: $border-radius-ms;
}

@mixin border__radius--md {
  border-radius: $border-radius-md;
}

@mixin border__radius--ml {
  border-radius: $border-radius-ml;
}

@mixin border__radius--lg {
  border-radius: $border-radius-lg;
}

@mixin border__radius--xl {
  border-radius: $border-radius-xl;
}

@mixin border__radius--xxl {
  border-radius: $border-radius-xxl;
}

@mixin border__radius--50 {
  border-radius: $border-radius-50;
}

@mixin border__radius--100 {
  border-radius: $border-radius-100;
}
