@mixin color--black {
  color: $color-black;
}

@mixin color--white {
  color: $color-white;
}

@mixin color--light-gray {
  color: $color-light-gray;
}

@mixin color--dark-gray {
  color: $color-dark-gray;
}

@mixin color--primary {
  color: $color-primary;
}


@mixin color--secondary {
  color: $color-secondary;
}
