@mixin flex {
  display: flex;
}

@mixin flex__wrap--wrap {
  flex-wrap: wrap;
}

@mixin flex__wrap--nowrap {
  flex-wrap: nowrap;
}

@mixin flex__basis--1-col {
  flex-basis: 100%;
}

@mixin flex__basis--2-col {
  flex-basis: calc(50% - #{$gap-sm} / 2); 
}

@mixin flex__basis--3-col {
  flex-basis:  calc(33.3333% - 1.5 * #{$gap-sm} / 3);
}

@mixin flex__basis--4-col {
  flex-basis:  calc(25% - 2 * #{$gap-sm} / 4);  
}

@mixin flex__basis--5-col {
  flex-basis:  calc(25% - 2.5 * #{$gap-sm}/ 5);
}

@mixin flex__basis--6-col {
  flex-basis:  calc(25% - 3 * #{$gap-sm} / 6);
}

@mixin flex__basis--7-col {
  flex-basis:  calc(14.2857% - 3.5 * #{$gap-sm} / 7);
}

@mixin flex__basis--8-col {
  flex-basis:  calc(12.5% - 4 * #{$gap-sm} / 8);
}

@mixin flex__basis--9-col {
  flex-basis:  calc(11.11% - 4.5 * #{$gap-sm} / 9);
}

@mixin flex__basis--10-col {
  flex-basis:  calc(10% - 5 * #{$gap-sm} / 10);
}

@mixin flex__basis--11-col {
  flex-basis:  calc(9.0909% - 5.5 * #{$gap-sm} / 11);
}

@mixin flex__basis--12-col {
  flex-basis:  calc(8.3333% - 6 * #{$gap-sm} / 12);
}

@mixin flex__direction--column {
  flex-direction: column;
}

@mixin flex__direction--column-reverse {
  flex-direction: column-reverse;
}