@mixin grid {
   /* Flex */
   display: flex;
   /* Grid */
   display: grid;
  //  grid-template-rows: 100%; Testing for the chrome
  grid-template-rows: auto;
}

@mixin grid__gap {
  @media all and (min-width: 981px) {
    grid-gap: $gap-md;
  }
  @media all and (max-width: 980px) {
    grid-gap: $gap-sm;
  }
  @media all and (max-width: 767px) {
    grid-gap: $gap-xs;
  }
}

@mixin grid__template__columns__repeat--1-1fr {
  grid-template-columns: repeat(1, 1fr);
}

@mixin grid__template__columns__repeat--2-1fr {
  grid-template-columns: repeat(2, 1fr);
}

@mixin grid__template__columns__repeat--3-1fr {
  grid-template-columns: repeat(3, 1fr);
}

@mixin grid__template__columns__repeat--4-1fr {
  grid-template-columns: repeat(4, 1fr);
}

@mixin grid__template__columns__repeat--5-1fr {
  grid-template-columns: repeat(5, 1fr);
}

@mixin grid__template__columns__repeat--6-1fr {
  grid-template-columns: repeat(6, 1fr);
}

@mixin grid__template__columns__repeat--7-1fr {
  grid-template-columns: repeat(7, 1fr);
}

@mixin grid__template__columns__repeat--8-1fr {
  grid-template-columns: repeat(8, 1fr);
}

@mixin grid__template__columns__repeat--9-1fr {
  grid-template-columns: repeat(9, 1fr);
}

@mixin grid__template__columns__repeat--10-1fr {
  grid-template-columns: repeat(10, 1fr);
}

@mixin grid__template__columns__repeat--11-1fr {
  grid-template-columns: repeat(11, 1fr);
}

@mixin grid__template__columns__repeat--12-1fr {
  grid-template-columns: repeat(12, 1fr);
}

@mixin grid__template__columns__repeat--1-auto {
  grid-template-columns: repeat(1, auto);
}

@mixin grid__template__columns__repeat--2-auto {
  grid-template-columns: repeat(2, auto);
}

@mixin grid__template__columns__repeat--3-auto {
  grid-template-columns: repeat(3, auto);
}

@mixin grid__template__columns__repeat--4-auto {
  grid-template-columns: repeat(4, auto);
}

@mixin grid__template__columns__repeat--5-auto {
  grid-template-columns: repeat(5, auto);
}

@mixin grid__template__columns__repeat--6-auto {
  grid-template-columns: repeat(6, auto);
}

@mixin grid__template__columns__repeat--7-auto {
  grid-template-columns: repeat(7, auto);
}

@mixin grid__template__columns__repeat--8-auto {
  grid-template-columns: repeat(8, auto);
}

@mixin grid__template__columns__repeat--9-auto {
  grid-template-columns: repeat(9, auto);
}

@mixin grid__template__columns__repeat--10-auto {
  grid-template-columns: repeat(10, auto);
}

@mixin grid__template__columns__repeat--11-auto {
  grid-template-columns: repeat(11, auto);
}

@mixin grid__template__columns__repeat--12-auto {
  grid-template-columns: repeat(12, auto);
}
