@import '../variables/proportions.scss';

@mixin height--xs {
  height: $height-xs;
}

@mixin height--sm {
  height: $height-sm
}

@mixin height--ms {
  height: $height-ms;
}

@mixin height--md {
  height: $height-md;
}

@mixin height--ml {
  height: $height-ml;
}

@mixin height--lg {
  height: $height-lg;
}

@mixin height--xl {
  height: $height-xl;
}

@mixin height--boxed {
  height: $height-boxed;
}

@mixin height--50 {
  height: $height-50;
}

@mixin height--100 {
  height: $height-100;
}

@mixin height--100vh {
  height: $height-100vh;
}

@mixin height--50vw {
  height: $height-50vw;
}

@mixin height--100vw {
  height: $height-100vw;
}

@mixin max-height--xs {
  max-height: $height-xs;
}

@mixin max-height--sm {
  max-height: $height-sm
}

@mixin max-height--ms {
  max-height: $height-ms;
}

@mixin max-height--md {
  max-height: $height-md;
}

@mixin max-height--ml {
  max-height: $height-ml;
}

@mixin max-height--lg {
  max-height: $height-lg;
}

@mixin max-height--xl {
  max-height: $height-xl;
}

@mixin max-height--boxed {
  max-height: $height-boxed;
}

@mixin max-height--50 {
  max-height: $height-50;
}

@mixin max-height--100 {
  max-height: $height-100;
}

@mixin max-height--50vw {
  max-height: $height-50vw;
}

@mixin max-height--100vw {
  max-height: $height-100vw;
}
