@mixin list-style--none {
  list-style: none;
}

@mixin list-style__positon--inside {
  list-style-position: inside;
}

@mixin list-style__positon--outside {
  list-style-position: outside;
}

@mixin list-style__type--circle {
  list-style-type: circle;
}

@mixin list-style__type--decimal {
  list-style-type: decimal;
}

@mixin list-style__type--upper-latin {
  list-style-type: upper-latin;
}

@mixin list-style__type--upper-roman {
  list-style-type: upper-roman;
}

@mixin list-style__type--lower-latin {
  list-style-type: lower-latin;
}

@mixin list-style__type--lower-roman {
  list-style-type: lower-roman;
}
