@mixin margin--0 {
  margin: 0;
}

@mixin margin--auto {
  margin: auto;
}

@mixin margin--xs {
  margin: $gap-xs;
}

@mixin margin--sm {
  margin: $gap-sm;
}

@mixin margin--ms {
  margin: $gap-ms;
}

@mixin margin--md {
  margin: $gap-md;
}

@mixin margin--ml {
  margin: $gap-ml;
}

@mixin margin--lg {
  margin: $gap-lg;
}

@mixin margin--xl {
  margin: $gap-xl;
}

@mixin margin__x--0 {
  margin-left: 0;
  margin-right: 0;
}

@mixin margin__x--auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin__x--xs {
  margin-left: $gap-xs;
  margin-right: $gap-xs;
}

@mixin margin__x--sm {
  margin-left: $gap-sm;
  margin-right: $gap-sm;
}

@mixin margin__x--ms {
  margin-left: $gap-ms;
  margin-right: $gap-ms;
}

@mixin margin__x--md {
  margin-left: $gap-md;
  margin-right: $gap-md;
}

@mixin margin__x--ml {
  margin-left: $gap-ml;
  margin-right: $gap-ml;
}

@mixin margin__x--lg {
  margin-left: $gap-lg;
  margin-right: $gap-lg;
}

@mixin margin__x--xl {
  margin-left: $gap-xl;
  margin-right: $gap-xl;
}

@mixin margin__y--0 {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin margin__y--auto {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin margin__y--xs {
  margin-top: $gap-xs;
  margin-bottom: $gap-xs;
}

@mixin margin__y--sm {
  margin-top: $gap-sm;
  margin-bottom: $gap-sm;
}

@mixin margin__y--ms {
  margin-top: $gap-ms;
  margin-bottom: $gap-ms;
}

@mixin margin__y--md {
  margin-top: $gap-md;
  margin-bottom: $gap-md;
}

@mixin margin__y--ml {
  margin-top: $gap-ml;
  margin-bottom: $gap-ml;
}

@mixin margin__y--lg {
  margin-top: $gap-lg;
  margin-bottom: $gap-lg;
}

@mixin margin__y--xl {
  margin-top: $gap-xl;
  margin-bottom: $gap-xl;
}

@mixin margin__left--0 {
  margin-left: 0;
}

@mixin margin__left--auto {
  margin-left: auto;
}

@mixin margin__left--xs {
  margin-left: $gap-xs;
}

@mixin margin__left--sm {
  margin-left: $gap-sm;
}

@mixin margin__left--ms {
  margin-left: $gap-ms;
}

@mixin margin__left--md {
  margin-left: $gap-md;
}

@mixin margin__left--ml {
  margin-left: $gap-ml;
}

@mixin margin__left--lg {
  margin-left: $gap-lg;
}

@mixin margin__left--xl {
  margin-left: $gap-xl;
}

@mixin margin__right--0 {
  margin-right: 0;
}

@mixin margin__right--auto {
  margin-right: auto;
}

@mixin margin__right--xs {
  margin-right: $gap-xs;
}

@mixin margin__right--sm {
  margin-right: $gap-sm;
}

@mixin margin__right--ms {
  margin-right: $gap-ms;
}

@mixin margin__right--md {
  margin-right: $gap-md;
}

@mixin margin__right--ml {
  margin-right: $gap-ml;
}

@mixin margin__right--lg {
  margin-right: $gap-lg;
}

@mixin margin__right--xl {
  margin-right: $gap-xl;
}

@mixin margin__top--0 {
  margin-top: 0;
}

@mixin margin__top--auto {
  margin-top: auto;
}

@mixin margin__top--xs {
  margin-top: $gap-xs;
}

@mixin margin__top--sm {
  margin-top: $gap-sm;
}

@mixin margin__top--ms {
  margin-top: $gap-ms;
}

@mixin margin__top--md {
  margin-top: $gap-md;
}

@mixin margin__top--ml {
  margin-top: $gap-ml;
}

@mixin margin__top--lg {
  margin-top: $gap-lg;
}

@mixin margin__top--xl {
  margin-top: $gap-xl;
}

@mixin margin__bottom--0 {
  margin-bottom: 0;
}

@mixin margin__bottom--auto {
  margin-bottom: auto;
}

@mixin margin__bottom--xs {
  margin-bottom: $gap-xs;
}

@mixin margin__bottom--sm {
  margin-bottom: $gap-sm;
}

@mixin margin__bottom--ms {
  margin-bottom: $gap-ms;
}

@mixin margin__bottom--md {
  margin-bottom: $gap-md;
}

@mixin margin__bottom--ml {
  margin-bottom: $gap-ml;
}

@mixin margin__bottom--lg {
  margin-bottom: $gap-lg;
}

@mixin margin__bottom--xl {
  margin-bottom: $gap-xl;
}
