@mixin padding--0 {
  padding: 0;
}

@mixin padding--auto {
  padding: auto;
}

@mixin padding--xs {
  padding: $gap-xs;
}

@mixin padding--sm {
  padding: $gap-sm;
}

@mixin padding--ms {
  padding: $gap-ms;
}

@mixin padding--md {
  padding: $gap-md;
}

@mixin padding--ml {
  padding: $gap-ml;
}

@mixin padding--lg {
  padding: $gap-lg;
}

@mixin padding--xl {
  padding: $gap-xl;
}

@mixin padding__x--0 {
  padding-left: 0;
  padding-right: 0;
}

@mixin padding__x--auto {
  padding-left: auto;
  padding-right: auto;
}

@mixin padding__x--xs {
  padding-left: $gap-xs;
  padding-right: $gap-xs;
}

@mixin padding__x--sm {
  padding-left: $gap-sm;
  padding-right: $gap-sm;
}

@mixin padding__x--ms {
  padding-left: $gap-ms;
  padding-right: $gap-ms;
}

@mixin padding__x--md {
  padding-left: $gap-md;
  padding-right: $gap-md;
}

@mixin padding__x--ml {
  padding-left: $gap-ml;
  padding-right: $gap-ml;
}

@mixin padding__x--lg {
  padding-left: $gap-lg;
  padding-right: $gap-lg;
}

@mixin padding__x--xl {
  padding-left: $gap-xl;
  padding-right: $gap-xl;
}

@mixin padding__y--0 {
  padding-top: 0;
  padding-bottom: 0;
}

@mixin padding__y--auto {
  padding-top: auto;
  padding-bottom: auto;
}

@mixin padding__y--xs {
  padding-top: $gap-xs;
  padding-bottom: $gap-xs;
}

@mixin padding__y--sm {
  padding-top: $gap-sm;
  padding-bottom: $gap-sm;
}

@mixin padding__y--ms {
  padding-top: $gap-ms;
  padding-bottom: $gap-ms;
}

@mixin padding__y--md {
  padding-top: $gap-md;
  padding-bottom: $gap-md;
}

@mixin padding__y--ml {
  padding-top: $gap-ml;
  padding-bottom: $gap-ml;
}

@mixin padding__y--lg {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
}

@mixin padding__y--xl {
  padding-top: $gap-xl;
  padding-bottom: $gap-xl;
}

@mixin padding__left--0 {
  padding-left: 0;
}

@mixin padding__left--auto {
  padding-left: auto;
}

@mixin padding__left--xs {
  padding-left: $gap-xs;
}

@mixin padding__left--sm {
  padding-left: $gap-sm;
}

@mixin padding__left--ms {
  padding-left: $gap-ms;
}

@mixin padding__left--md {
  padding-left: $gap-md;
}

@mixin padding__left--ml {
  padding-left: $gap-ml;
}

@mixin padding__left--lg {
  padding-left: $gap-lg;
}

@mixin padding__left--xl {
  padding-left: $gap-xl;
}

@mixin padding__right--0 {
  padding-right: 0;
}

@mixin padding__right--auto {
  padding-right: auto;
}

@mixin padding__right--xs {
  padding-right: $gap-xs;
}

@mixin padding__right--sm {
  padding-right: $gap-sm;
}

@mixin padding__right--ms {
  padding-right: $gap-ms;
}

@mixin padding__right--md {
  padding-right: $gap-md;
}

@mixin padding__right--ml {
  padding-right: $gap-ml;
}

@mixin padding__right--lg {
  padding-right: $gap-lg;
}

@mixin padding__right--xl {
  padding-right: $gap-xl;
}

@mixin padding__top--0 {
  padding-top: 0;
}

@mixin padding__top--auto {
  padding-top: auto;
}

@mixin padding__top--xs {
  padding-top: $gap-xs;
}

@mixin padding__top--sm {
  padding-top: $gap-sm;
}

@mixin padding__top--ms {
  padding-top: $gap-ms;
}

@mixin padding__top--md {
  padding-top: $gap-md;
}

@mixin padding__top--ml {
  padding-top: $gap-ml;
}

@mixin padding__top--lg {
  padding-top: $gap-lg;
}

@mixin padding__top--xl {
  padding-top: $gap-xl;
}

@mixin padding__bottom--0 {
  padding-bottom: 0;
}

@mixin padding__bottom--auto {
  padding-bottom: auto;
}

@mixin padding__bottom--xs {
  padding-bottom: $gap-xs;
}

@mixin padding__bottom--sm {
  padding-bottom: $gap-sm;
}

@mixin padding__bottom--ms {
  padding-bottom: $gap-ms;
}

@mixin padding__bottom--md {
  padding-bottom: $gap-md;
}

@mixin padding__bottom--ml {
  padding-bottom: $gap-ml;
}

@mixin padding__bottom--lg {
  padding-bottom: $gap-lg;
}

@mixin padding__bottom--xl {
  padding-bottom: $gap-xl;
}
