@mixin place__content--start {
  place-content: flex-start;
}

@mixin place__content--start--center {
  place-content: flex-start center;
}

@mixin place__content--start--end {
  place-content: flex-start flex-end;
}

@mixin place__content--center--start {
  place-content: center flex-start;
}

@mixin place__content--center {
  place-content: center;
}

@mixin place__content--center--end {
  place-content: center flex-end;
}

@mixin place__content--end--start {
  place-content: flex-end flex-start;
}

@mixin place__content--end--center {
  place-content: flex-end center;
}

@mixin place__content--end {
  place-content: flex-end flex-end;
}

@mixin place__items--start {
  place-items: flex-start flex-start;
}

@mixin place__items--start--center {
  place-items: flex-start center;
}

@mixin place__items--start--end {
  place-items: flex-start flex-end;
}

@mixin place__items--center--start {
  place-items: center flex-start;
}

@mixin place__items--center {
  place-items: center;
}

@mixin place__items--center--end {
  place-items: center flex-end;
}

@mixin place__items--end--start {
  place-items: flex-end flex-start;
}

@mixin place__items--end--center {
  place-items: flex-end center;
}

@mixin place__items--end {
  place-items: flex-end flex-end;
}

@mixin place__self--start {
  place-self: flex-start flex-start;
}

@mixin place__self--start--center {
  place-self: flex-start center;
}

@mixin place__self--start--end {
  place-self: flex-start flex-end;
}

@mixin place__self--center--start {
  place-self: center flex-start;
}

@mixin place__self--center {
  place-self: center;
}

@mixin place__self--center--end {
  place-self: center flex-end;
}

@mixin place__self--end--start {
  place-self: flex-end flex-start;
}

@mixin place__self--end--center {
  place-self: flex-end center;
}

@mixin place__self--end {
  place-self: flex-end flex-end;
}
