@mixin position__relative {
  position: relative;
}

@mixin position__absolute {
  position: absolute;
}

@mixin position__absolute--center {
  @include position__absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin position__absolute--center-top {
  @include position__absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -100%);
}

@mixin position__absolute--center-bottom {
  @include position__absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

@mixin position__absolute--left-top {
  @include position__absolute;
  left: 0;
  top: 0%;
  transform: translate(-100%, -100%);
}

@mixin position__absolute--left-center {
  @include position__absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

@mixin position__absolute--left-bottom {
  @include position__absolute;
  left: 0;
  top: 100%;
  transform: translate(-100%, 0);
}

@mixin position__absolute--right-top {
  @include position__absolute;
  right: 0;
  top: 0%;
  transform: translate(-100%, -100%);
}

@mixin position__absolute--right-center {
  @include position__absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

@mixin position__absolute--right-bottom {
  @include position__absolute;
  right: 0;
  top: 100%;
  transform: translate(-100%, 0);
}
