@import 'hajime/core/mixins/mixins.scss';
@import 'hajime/layout/base/mixins/grid.scss';
@import '~/styles/theme/components/base/buttons.scss';

.wp-page,
.page {

  p {
    line-height: 1.33349;
    
    &.has-normal-font-size {
      font-size: 22px;
    }
  }

  &--no-heading {

    .page__heading {
      display: none;
    }
  }

  &__heading {
    @include text-align(center);
    display: none;
  }

  .section {

    .column {

      > div {
        @include width(100);

        .content {

          .alignwide {
            @include width(100);
          }

          .alignfull {
            @include width(100);
            @include max-width(100vw);
          }

          .has-background {
            &.has-primary-background-color {
              @include background-color($color-primary);
            }

            &.has-secondary-background-color {
              @include background-color($color-secondary);
            }

            &.has-dark-gray-background-color {
              @include background-color($color-dark-gray);
            }

            &.has-light-gray-background-color {
              @include background-color($color-light-gray);
            }

            &.has-white-background-color {
              @include background-color(white);
            }
          }

          .wp-block {
            @mixin wp-block-boxed {
              @include container;
              @include boxed;
            }

            &-columns {
              &.alignwide {
                @include wp-block-boxed;
              }
              &.alignfull {
                @include width(100);
                @include max-width(100vw);
              }
              &.has {
                &-2-columns {
                  @include grid__layout--2-col;
                }
                &-3-columns {
                  @include grid__layout--3-col;
                }
                &-4-columns {
                  @include grid__layout--4-col;
                }
                &-5-columns {
                  @include grid__layout--5-col;
                }
                &-6-columns {
                  @include grid__layout--6-col;
                }
                &-7-columns {
                  @include grid__layout--7-col;
                }
                &-8-columns {
                  @include grid__layout--8-col;
                }
                &-9-columns {
                  @include grid__layout--9-col;
                }
                &-10-columns {
                  @include grid__layout--10-col;
                }
                &-11-columns {
                  @include grid__layout--11-col;
                }
                &-12-columns {
                  @include grid__layout--12-col;
                }
              }

              .wp-block-column {

                > div {
                  &.alignwide {
                    @include width(100% !important);
                  }
                }
              }
            }

            &-image {
              // @include flex;
              figure {
                @include flex;
                @include width(100);
                &.aligncenter {
                  @include justify-content(center);
                }
              }
              &.alignwide {
                @include justify-content(center);
                img {
                  @include object-fit(contain);
                }
              }
            }

            &-button {
              // @include wp-block-boxed;
              @include flex;
              a {
                @include btn;
                width: auto;
              }
              &.aligncenter {
                @include justify-content(center);
                @include text-align(center);
                a {
                  @include justify-self(center);
                }
              }

              &__link {
                width: auto;
              }
            }

            &-cover {
              @include height($height-lg);
              @include background-repeat(no-repeat);
              @include background-size(cover);
              @include grid;
              @include place-content(center);
              &.place-content--start--center {
                @include place-content(start center);
              }
              &.alignwide {
                @include wp-block-boxed;
              }

              &__inner-container {
                @include flex;
                @include flex-direction(column);

                > * {
                  @include color(white);
                  @include width(100);
                  display: initial;
                }

                > p {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
