@import '../../core/variables/variables.scss';

.h1 {
  font-size: $font-size-lg;
  // margin-top: $gap-ms;
}

.h2 {
  font-size: $font-size-ml;
  // margin-top: $gap-ms;
}

.h3 {
  font-size: $font-size-md;
  // margin-top: $gap-ms;
}

.h4 {
  font-size: $font-size-ms;
  // margin-top: $gap-ms;
}

.h5 {
  font-size: $font-size-sm;
  // margin-top: $gap-ms;
}
