$color-white: #fff;
$color-black: #000;
$color-extra-light-gray: #fafafa;
$color-light-gray: #767676;
$color-dark-gray: #111;
$color-primary: #0073a8;
$color-secondary: #005075;

$opacity-sm: .3;
$opacity-md: .6;
$opacity-lg: .9;
