$gap-xxs: .5rem;
$gap-xs: 1rem;
$gap-sm: 1.5rem;
$gap-ms: 2rem;
$gap-md: 3rem;
$gap-ml: 4.5rem;
$gap-lg: 6rem;
$gap-xl: 9rem;

$height-xxs: 9rem;
$height-xs: 12rem;
$height-sm: 15rem;
$height-ms: 18rem;
$height-md: 21rem;
$height-lg: 27rem;
$height-xl: 33rem;
$height-50: 50%;
$height-100: 100%;
$height-50vh: 50vh;
$height-100vh: 100vh;

$width-xxs: 9rem;
$width-xs: 12rem;
$width-sm: 15rem;
$width-ms: 18rem;
$width-md: 21rem;
$width-lg: 27rem;
$width-xl: 33rem;
$width-50: 50%;
$width-100: 100%;
$width-50vw: 50vw;
$width-100vw: 100vw;
$width-boxed: 118rem;
