$font-size-xs: .6rem;
$font-size-sm: 1rem;
$font-size-ms: 1.2rem;
$font-size-md: 1.5rem;
$font-size-ml: 1.8rem;
$font-size-lg: 2.1rem;
$font-size-xl: 2.7rem;
$font-size-xxl: 3.6rem;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;


$line-height-sm: 1;
$line-height-ms: 1.2;
$line-height-md: 1.5;
$line-height-ml: 1.8;
$line-height-lg: 2.1;
$line-height-xl: 2.4;
