@import '../mixins/height.scss';

.height {

  &--50 {
    @include height--50;
  }

  &--100 {
    @include height--100;
  }

  &--50vh {
    height: 50vh;
    @media all and (max-width: 980px) {
      min-height: $height-50vh;
    }
  }

  &--100vh {
    height: 100vh !important;
    @media all and (max-width: 980px) {
      min-height: $height-100vh;
    }
  }

  &--xs {
    min-height: $height-sm;
    @media all and (max-width: 980px) {
      min-height: $height-xs;
    }
    @media all and (max-width: 767px) {
      min-height: $height-xxs;
    }
  }

  &--sm {
    min-height: 21rem;
    @media all and (max-width: 980px) {
      min-height: $height-sm;
    }
    @media all and (max-width: 767px) {
      min-height: $height-xs;
    }
  }

  &--md {
    min-height: 30rem;
    @media all and (max-width: 980px) {
      min-height: $height-ms;
    }
    @media all and (max-width: 767px) {
      min-height: $height-sm;
    }
  }

  &--lg {
    min-height: 39rem;
    @media all and (max-width: 980px) {
      min-height: $height-lg;
    }
    @media all and (max-width: 767px) {
      min-height: $height-md;
    }
  }

  &--xl {
    min-height: 48rem;
    @media all and (max-width: 980px) {
      min-height: $height-xl;
    }
    @media all and (max-width: 767px) {
      min-height: $height-lg;
    }
  }
}

.max-height {
  &--100 {
    @include max-height--100;
  }
}
