.no-scroll {
  overflow-y: hidden;
}

.visibility--hidden {
  visibility: hidden;
}

.overflow {

  &--hidden {
    overflow: hidden;
  }

  &__x--hidden {
    overflow-x: hidden;
  }

  &__y--hidden {
    overflow-y: hidden;
  }
}

.object-fit {

  &--cover {
    object-fit: cover;
  }
  
  &--contain {
    object-fit: contain;
  }
}
