.width {

  &--auto {
    width: auto;
  }

  &--50 {
    width: $width-50;
    @media all and (max-width: 980px) {
      min-width: $width-50;
    }
  }

  &--100 {
    width: $width-100;
    @media all and (max-width: 980px) {
      min-width: $width-100;
    }
  }

  &--50vw {
    width: 50vw;
    @media all and (max-width: 980px) {
      min-width: $width-50vw;
    }
  }

  &--100vw {
    width: 100vh;
    @media all and (max-width: 980px) {
      min-width: $width-100vw;
    }
  }
}
