@import '../mixins/mixins.scss';

.container {
  box-sizing: border-box;
  @include width--100;

  &__inner {
    @include height--100;
    @include width--100;
    @include margin--auto;
    
    &--boxed {
      width: calc(100% - #{$gap-lg});
      @include margin--auto;
      @include max-width--boxed;
      @media all and (max-width: 767px) {
        width: calc(100% - #{$gap-sm});
      }
    }
  }
}

.grid__1-col {
  .container__inner--boxed {
    @media all and (min-width: calc(#{$width-boxed} + 2.1rem)) {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
